# dependencies
node_modules/

# build output
dist/
.vite/

# Python cache
__pycache__/

# OS / editor junk
.DS_Store

# environment variables
.env
backend/.env

# Python cache
*.pyc

# Python venv
AI Financial Assistant/.venv/

# Don't need to store database files
*.db*